In [1]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [2]:
#Load the csv file
df = pd.read_csv('https://cocl.us/concrete_data')
df.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [3]:
df.describe()

            Cement  Blast Furnace Slag  ...          Age     Strength
count  1030.000000         1030.000000  ...  1030.000000  1030.000000
mean    281.167864           73.895825  ...    45.662136    35.817961
std     104.506364           86.279342  ...    63.169912    16.705742
min     102.000000            0.000000  ...     1.000000     2.330000
25%     192.375000            0.000000  ...     7.000000    23.710000
50%     272.900000           22.000000  ...    28.000000    34.445000
75%     350.000000          142.950000  ...    56.000000    46.135000
max     540.000000          359.400000  ...   365.000000    82.600000

[8 rows x 9 columns]

In [4]:
predictor = df.drop(['Strength','Age'], axis=1)
target = df['Strength']

In [5]:
#Normalization of the data
predictors_norm = (predictor - predictor.mean()) / predictor.std()
predictors_norm.head()

     Cement  Blast Furnace Slag  ...  Coarse Aggregate  Fine Aggregate
0  2.476712           -0.856472  ...          0.862735       -1.217079
1  2.476712           -0.856472  ...          1.055651       -1.217079
2  0.491187            0.795140  ...         -0.526262       -2.239829
3  0.491187            0.795140  ...         -0.526262       -2.239829
4 -0.790075            0.678079  ...          0.070492        0.647569

[5 rows x 7 columns]

In [6]:
n_col = predictors_norm.shape[1]

In [7]:
#Building a model
def regression():
  model = Sequential()
  model.add(Dense(10, activation='relu', input_shape=(n_col,)))
  model.add(Dense(1))

  #compile the model
  model.compile(optimizer='adam', loss='mean_squared_error')
  return model

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# **PART A** :
# Using Normalized data

In [9]:
list=[]

for i in range(0,51):
  x_train, x_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

  #Build the model
  model = regression()

  #Fit the model 
  model.fit(x_train,y_train, validation_data = (x_test, y_test), epochs=50, verbose=0 )
  list.append(model.evaluate(x_test, y_test, verbose=0))

print(' \033[1m \033[91m The training of 50 epochs is complete ! ')

   The training of 50 epochs is complete !

In [10]:
from statistics import stdev
import statistics as stat
print('Standard Devaition of the Mean Squared Errors is : ', stdev(list))
print('')
print(' Mean of the Mean Squared Errors is :', stat.mean(list))

Standard Devaition of the Mean Squared Errors is :  116.15203886767566

 Mean of the Mean Squared Errors is : 381.16387702617044

 # **Part B** :
# Without using Normalized data

In [11]:
list1=[]

for i in range(0,51):
  x_train, x_test, y_train, y_test = train_test_split(predictor, target, test_size=0.3, random_state=42)

  #Build the model
  model = regression()

  #Fit the model 
  model.fit(x_train,y_train, validation_data = (x_test, y_test), epochs=50, verbose=0 )
  list1.append(model.evaluate(x_test, y_test, verbose=0))

print(' \033[1m \033[91m The training of 50 epochs is complete ! ')

   The training of 50 epochs is complete !

In [12]:
print('Standard Devaition of the Mean Squared Errors is : ', stdev(list1))
print('Mean of the Mean Squared Errors is : ', stat.mean(list1))

Standard Devaition of the Mean Squared Errors is :  318.32671932822586
Mean of the Mean Squared Errors is :  366.83381287943735


#**PART C** : 
# Increase Epoch to 100

In [13]:
list2=[]

for i in range(0,51):
  x_train, x_test, y_train, y_test = train_test_split(predictor, target, test_size=0.3, random_state=42)

  #Build the model
  model = regression()

  #Fit the model 
  model.fit(x_train,y_train, validation_data = (x_test, y_test), epochs=100, verbose=0 )
  list2.append(model.evaluate(x_test, y_test, verbose=0))

print(' \033[1m \033[91m The training of 100 epochs is complete ! ')

   The training of 100 epochs is complete !

In [14]:
print('Standard Devaition of the Mean Squared Errors is : ', stdev(list2))
print('Mean of the Mean Squared Errors is : ', stat.mean(list2))

Standard Devaition of the Mean Squared Errors is :  250.33356091619206
Mean of the Mean Squared Errors is :  248.00968889146523

#**PART D** : 
# Increase hidden layers

In [15]:
#New model
def regression_new():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_col,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

list3 = []
for i in range(0,51) : 
    X_train, X_test, y_train, y_test = train_test_split(predictor, target, test_size=0.3, random_state=42)
    
    # build the model
    model = regression_new()
    
    # fit the model
    model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100, verbose=0)
    list3.append(model.evaluate(X_test, y_test, verbose=0))

print(' \033[1m \033[91m The training of 100 epochs is complete ! ')

   The training of 100 epochs is complete !

In [16]:
print('Standard Devaition of the Mean Squared Errors is : ', stdev(list3))
print('Mean of the Mean Squared Errors is : ', stat.mean(list3))

Standard Devaition of the Mean Squared Errors is :  10.716112756685247
Mean of the Mean Squared Errors is :  167.0874821500538